.chat-container {
    width: 70%;
    max-width: 100%;
    margin: 0 auto;
    height: 90vh;
    background-color: #e3b4fa;
}

.chat-header {
    border-bottom: 1px solid #e6e6e6;
}

.chat-messages {
    overflow-y: auto;
}

.chat-message {
    background-color: #dcf8c6;
    border-radius: 10px;
    clear: both;
}

.timestamp {
    font-size: 12px;
    color: #888;
}

input.form-control {
    border: 1px solid #e6e6e6;
}

.bg-light-green {
    background-color: #dcf8c6;
}
